@{
    ViewData["Title"] = "Home Page";
    Layout = "_TestingLayout";
}

<h1>Pokemon</h1>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nomor</th>
            <th scope="col">Name</th>
            <th scope="col">URL</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody id="ajaxSW">
    </tbody>
</table>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detail Card</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="detailModal">
            </div>
        </div>
    </div>
</div>

@section Scripts{ 
    <script type="text/javascript" src="~/js/ajax.js"></script>
}
